/* src/App.module.css */
.container {
    position: relative;
    min-height: 100vh;
}

.right {
    width: 100%;
}

.errorContainer,
.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}